.line {
    display: flex;
    justify-content: center ;
    border: 0px;
    height: 2px;
    background: linear-gradient(100deg, rgb(190, 188, 188), rgb(94, 92, 92)); 
    margin-top: 60px;
    margin-left: 130px;
    margin-right: 130px;
}
p {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: -50px;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.skills-section {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.skills-container {
    display: flex;
    align-items: center;
    position: relative;
}

.vertical-line {
    width: 4px;
    background: linear-gradient(to bottom, rgb(190, 188, 188), rgb(61, 60, 60)); 
    height: 390px;
    margin-top: 0px;
    margin-left: 100px;
    border-radius: 2px;
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.skill-right {
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
}
.skill-logo {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 100px; 
    gap: 50px; 
    flex-wrap: wrap; 
}
